
<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="98%">
      <mat-card class="booking-card">
        <mat-card-content>
          <h2>Stepper</h2>
  
          <div class="operation-detail container" fxLayout="row" fxLayoutAlign="center none">
            <div fxFlex="98%">
  
              <mat-horizontal-stepper linear="true" #stepper>
  
                <mat-step [stepControl]="step1">
  
                  <ng-template matStepLabel>Basic Information</ng-template>
               <app-basic-details (onDataChange)="userData=$event"></app-basic-details>

               <button (click)="nextTab(stepper)">Next</button>

                </mat-step>
  
                <mat-step [stepControl]="step2">
  
                  <ng-template matStepLabel>Address</ng-template>
                 <app-address-details (childData)="addressData=$event"></app-address-details>
                 <button (click)="previousTab(stepper)">Previous</button>
                 <button (click)="nextTab(stepper)">Next</button>
                </mat-step>
  
                <mat-step [stepControl]="step3">
  
                  <ng-template matStepLabel>QualiFication Details</ng-template>
                <app-qualification-details (childData)="qualificationValue=$event"></app-qualification-details>
                <button (click)="previousTab(stepper)">Previous</button>
                <button (click)="nextTab(stepper)">Next</button>
                </mat-step>
                
                  <mat-step [stepControl]="step4">
  
                    <ng-template matStepLabel>Preview</ng-template>
                  <app-preview [parentData]="allFormData"></app-preview>
                  <button (click)="previousTab(stepper)">Previous</button>
                  <button >Submit</button>
                  </mat-step>
  
              </mat-horizontal-stepper>
  
            </div>
          </div>
        </mat-card-content>
      </mat-card>
  
    </div>
  </div>
{{userData}}