<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="qualificationDetailsForm">
    <form [formGroup]="qualificationDetailsForm" (ngSubmit)="submit()">
      <ng-template matStepLabel>QualiFication Details</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Highest Degree</mat-label>
        <input matInput placeholder="Highest Degree" formControlName="highestDegree" required>
      </mat-form-field>
      <div *ngIf="submitted &&  f.highestDegree.errors">
        <div *ngIf="f.highestDegree.errors.required">Highest Degree is Required</div>
      </div>
      <mat-form-field appearance="fill">

        <mat-label>Year</mat-label>
        <input matInput placeholder="Year" formControlName="year" required>
      </mat-form-field>
      <div *ngIf="submitted &&  f.year.errors">
        <div *ngIf="f.year.errors.required">Year is Required</div>
      </div>
    </form>
  </mat-step>