 <form [formGroup]='previewForm' (ngSubmit)="submit()">
    <h1>Basic Details</h1>
    <div class="formGroup">
        <label for="">FirstName</label> <br>
        <input type="text" formControlName="firstName"> <br>
        <div *ngIf="submitted &&  f.firstName.errors">
            <div *ngIf="f.firstName.errors.required">FirstName is Required</div>
        </div>
    </div>
    <div class="formGroup">
        <label for="">LastName</label> <br>
        <input type="text" formControlName="lastName"> <br>
    </div>
    <div class="formGroup">
        <label for="">Email</label> <br>
        <input type="text" formControlName="email"> <br>
        <div *ngIf="submitted &&  f.email.errors">
            <div *ngIf="f.email.errors.required">Email is Required</div>
        </div>
    </div>
    <div class="formGroup">
        <label for="">Phone Number</label> <br>
        <input type="text" formControlName="phoneNo"> <br>
        <div *ngIf="submitted &&  f.phoneNo.errors">
            <div *ngIf="f.phoneNo.errors.required">Phone Number is Required</div>
        </div>
    </div>
    <h1>Address</h1>
    <div class="formGroup">
        <label for="">Address</label> <br>
        <input type="text" formControlName="address"> <br>
        <div *ngIf="submitted && f.address.errors">
            <div *ngIf="f.address.errors.required">Address is Required </div>
        </div>
    </div>
    <div class="formGroup">
        <label for="">City</label> <br>
        <input type="text" formControlName="city"> <br>
        <div *ngIf="submitted && f.city.errors">
            <div *ngIf="f.city.errors.required"> City is Required</div>
        </div>
    </div>
    <div class="formGroup">
        <label for="">State</label> <br>
        <input type="text" formControlName="state"> <br>
        <div *ngIf="submitted && f.state.errors">
            <div *ngIf="f.state.errors.required"> State is Required</div>
        </div>
    </div>
    <div class="formGroup">
        <label for="">Pincode</label> <br>
        <input type="text" formControlName="pincode"> <br>
        <div *ngIf="submitted && f.state.errors">
            <div *ngIf="f.state.errors.required"> Pincode is Required</div>
        </div>
    </div>
    <h1>Qualification</h1>
    <div class="formGroup">
        <label for=""> Highest Degree</label> <br>
        <input type="text" formControlName="highestDegree"> <br>
        <div *ngIf="submitted && f.highestDegree.errors">
            <div *ngIf="f.highestDegree.errors.required"> Highest Degree is Required</div>
        </div>
    </div>
    <div class="formGroup">
        <label>Year</label> <br>
        <input type="text" formControlName="year"> <br>
        <div *ngIf="submitted && f.year.errors">
            <div f.year.errors.required> Years is Required</div> <br>
        </div>
    </div>
    <button type="button">Previous</button>
    <button>Submit</button>
</form> 
<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-stepper  [linear]="isLinear" #stepper>
    <mat-step [stepControl]="previewForm">
      <form [formGroup]="previewForm" (ngSubmit)="submit()">
        <ng-template matStepLabel>Preview</ng-template>
        <h2>Basic Details</h2>
        <mat-form-field appearance="fill">
          <mat-label>FirstName</mat-label>
          <input matInput placeholder="First name" formControlName="firstName" required>
         </mat-form-field>
         <div *ngIf="submitted &&  f.firstName.errors">
            <div *ngIf="f.firstName.errors.required">FirstName is Required</div>
        </div>
        <mat-form-field appearance="fill">
            
            <mat-label>LastName</mat-label>
            <input matInput placeholder="Last name" formControlName="lastName" required>
 </mat-form-field>
 <mat-form-field appearance="fill">
            
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email" required>
</mat-form-field>
<div *ngIf="submitted &&  f.email.errors">
    <div *ngIf="f.email.errors.required">Email is Required</div>
</div> <br>
<mat-form-field appearance="fill">
            
    <mat-label>Phone Number</mat-label>
    <input matInput placeholder="Phone Number" formControlName="phoneNo" required>
</mat-form-field>
<div *ngIf="submitted &&  f.phoneNo.errors">
    <div *ngIf="f.phoneNo.errors.required">Phone Number is Required</div>
</div>
<h2>Address</h2>
<mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput placeholder="Address" formControlName="address" required>
   </mat-form-field>
   <div *ngIf="submitted &&  f.address.errors">
      <div *ngIf="f.address.errors.required">Address is Required</div>
  </div>
  <mat-form-field appearance="fill">
      
      <mat-label>City</mat-label>
      <input matInput placeholder="City" formControlName="city" required>
</mat-form-field>
<div *ngIf="submitted &&  f.city.errors">
<div *ngIf="f.city.errors.required">City is Required</div>
</div>
<mat-form-field appearance="fill">
      
<mat-label>State</mat-label>
<input matInput placeholder="State" formControlName="state" required>
</mat-form-field>
<div *ngIf="submitted &&  f.state.errors">
<div *ngIf="f.state.errors.required">State is Required</div>
</div> <br>
<mat-form-field appearance="fill">
      
<mat-label>Pin Code</mat-label>
<input matInput placeholder="Phone Number" formControlName="pincode" required>
</mat-form-field>
<div *ngIf="submitted &&  f.pincode.errors">
<div *ngIf="f.pincode.errors.required">PinCode is Required</div>
</div>
<h2>Qualification Details</h2>
<mat-form-field appearance="fill">
    <mat-label>Highest Degree</mat-label>
    <input matInput placeholder="Highest Degree" formControlName="highestDegree" required>
   </mat-form-field>
   <div *ngIf="submitted &&  f.highestDegree.errors">
      <div *ngIf="f.highestDegree.errors.required">Highest Degree is Required</div>
  </div>
  <mat-form-field appearance="fill">
      
      <mat-label>Year</mat-label>
      <input matInput placeholder="Year" formControlName="year" required>
</mat-form-field>
<div *ngIf="submitted &&  f.year.errors">
<div *ngIf="f.year.errors.required">Year is Required</div>
</div>
<div>
    <button mat-button matStepperPrevious type="button">Previous</button>
    <button mat-button >Submit</button>
  </div>
        <!-- <div>
          <button mat-button matStepperNext>Next</button>
        </div> -->
      <!-- </form> -->
    <!-- </mat-step> --> 
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <!-- <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> FirstName </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container> -->
      
        <!-- Weight Column -->
        <!-- <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> LastName </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container> -->
      
        <!-- Symbol Column -->
        <!-- <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
         
           <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address</th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
             </ng-container>
             <ng-container matColumnDef="phoneNo">
                <th mat-header-cell *matHeaderCellDef> phoneNo </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                 </ng-container>
             <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> City </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                 </ng-container>
                 <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef> State</th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                     </ng-container>
                     <ng-container matColumnDef="pincode">
                        <th mat-header-cell *matHeaderCellDef> pincode </th>
                        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                         </ng-container>
                         <ng-container matColumnDef="highestDegree">
                            <th mat-header-cell *matHeaderCellDef> Highest Degree </th>
                            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                             </ng-container>
                             <ng-container matColumnDef="year">
                                <th mat-header-cell *matHeaderCellDef> Year </th>
                                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                 </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div>
        <button type="button">Previous</button>
      <button >Submit</button>
    </div> --> -->
      