<!-- <mat-step [stepControl]="secondFormGroup" label="Fill out your address"></mat-step> -->
  <button routerLink="basic">Basic Information</button>
<button routerLink='address'>Address</button>
<button routerLink="qualification">Qualification</button>
<button routerLink="preview">Preview</button>
<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="basicDetailsForm">
      <form [formGroup]="basicDetailsForm">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>FirstName</mat-label>
          <input matInput placeholder="First name" formControlName="firstName" required>
        
  
        </mat-form-field>
        <mat-form-field appearance="fill">
            
            <mat-label>LastName</mat-label>
            <input matInput placeholder="Last name" formControlName="lastName" required>
 </mat-form-field>
 <mat-form-field appearance="fill">
            
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" formControlName="email" required>
</mat-form-field>
<mat-form-field appearance="fill">
            
    <mat-label>Phone Number</mat-label>
    <input matInput placeholder="Phone Number" formControlName="phoneNo" required>
</mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
   -->
   <!-- <div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="98%">
      <mat-card class="booking-card">
        <mat-card-content>
          <h2>Stepper</h2>
  
          <div class="operation-detail container" fxLayout="row" fxLayoutAlign="center none">
            <div fxFlex="98%">
  
              <mat-horizontal-stepper linear="true" #stepper>
  
                <mat-step [stepControl]="step1">
  
                  <ng-template matStepLabel>Step 1</ng-template>
               <app-basic-details></app-basic-details>
                </mat-step>
  
                <mat-step [stepControl]="addressDetailsForm">
  
                  <ng-template matStepLabel>Step2</ng-template>
                 <app-address-details></app-address-details>
  
                </mat-step>
  
                <mat-step [stepControl]="qualificationDetailsForm">
  
                  <ng-template matStepLabel>Step 3</ng-template>
                <app-qualification-details></app-qualification-details>
  
                </mat-step>
  
              </mat-horizontal-stepper>
  
            </div>
          </div>
        </mat-card-content>
      </mat-card>
  
    </div>
  </div> -->
  
<router-outlet></router-outlet> -->
