<!-- <form [formGroup]="addressDetailsForm" (ngSubmit)="submit()">
    <div class="formGroup">
        <label for="">Address</label> <br>
        <input type="text" formControlName="address"> <br>
        <div *ngIf="submitted && f.address.errors">
            <div *ngIf="f.address.errors.required">Address is Required </div>
        </div>
    </div>
    <div class="formGroup">
        <label for="">City</label> <br>
        <input type="text" formControlName="city"> <br>
        <div *ngIf="submitted && f.city.errors">
            <div *ngIf="f.city.errors.required"> City is Required</div>
        </div>
    </div>
    <div class="formGroup">
        <label for="">State</label> <br>
        <input type="text" formControlName="state"> <br>
        <div *ngIf="submitted && f.state.errors">
            <div *ngIf="f.state.errors.required"> State is Required</div>
        </div>
    </div>
    <div class="formGroup">
        <label for="">Pincode</label>
        <input type="text" formControlName="pincode">
        <div *ngIf="submitted && f.state.errors">
            <div *ngIf="f.state.errors.required"> Pincode is Required</div>
        </div>
    </div>
    <button type="button">Previous</button>
    <button>Next</button>
</form> -->
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-stepper  [linear]="isLinear" #stepper>
    <mat-step [stepControl]="addressDetailsForm">
      <form [formGroup]="addressDetailsForm" (ngSubmit)="submit()">
        <ng-template matStepLabel>Address</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Address" formControlName="address" required>
         </mat-form-field>
         <div *ngIf="submitted &&  f.address.errors">
            <div *ngIf="f.address.errors.required">Address is Required</div>
        </div>
        <mat-form-field appearance="fill">
            
            <mat-label>City</mat-label>
            <input matInput placeholder="City" formControlName="city" required>
 </mat-form-field>
 <div *ngIf="submitted &&  f.city.errors">
    <div *ngIf="f.city.errors.required">City is Required</div>
</div>
 <mat-form-field appearance="fill">
            
    <mat-label>State</mat-label>
    <input matInput placeholder="State" formControlName="state" required>
</mat-form-field>
<div *ngIf="submitted &&  f.state.errors">
    <div *ngIf="f.state.errors.required">State is Required</div>
</div> <br>
<mat-form-field appearance="fill">
            
    <mat-label>Pin Code</mat-label>
    <input matInput placeholder="Phone Number" formControlName="pincode" required>
</mat-form-field>
<div *ngIf="submitted &&  f.pincode.errors">
    <div *ngIf="f.pincode.errors.required">PinCode is Required</div>
</div>
        <div>
            <button mat-button matStepperPrevious type="button">Previous</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
